<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="/create" method="POST">
            <p>제목</p>
            <input type="text" id="title" name="title" class="form-control"> <br>
            <p>내용</p>
            <textarea id="content" name="content" class="form-control"></textarea>
            <br>
            
            <div class="form-row float-right">
            <button type="submit" class="btn btn-primary">작성</button>
            </div>
        </form>
    </div>
</body>
</html>